.filter-container {
    margin-top: 10px;
}

.main-container {
    margin-top: 10px;
}



.add-post-link {
    text-decoration: none;
}

.comment-button > a {
    text-decoration: none;
    color: white;
}