.register-container {
    border: solid 1px black;
    padding: 1em;
    width: 25%;
    margin: 5% auto;
    text-align: center;
    border-radius: 20px;
}

form input {
    width: 50%;
}

.red-border {
    border-color: red;
}